<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/adminSignup.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />


</head>

<body class="container-fluid">
    <div class="container-xxl">
        <div class="container-fluid">
            <div class="row top-rw  texi-right">
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-4.5 center-col bg">
                <div class="logo">
                    <img src="/images/BMlogo.png" alt="">
                </div>

                <form method="POST" action="{{'admin.register'}}" id="loginForm">
                    <label class="form-lbl" for="email">Email</label>
                    <input type="text" class="input0" id="email" name="email" placeholder="Please enter Email" required>

                    <label class="form-lbl" for="password">Password</label>
                    <input type="password" class="input0" id="password" name="password"
                        placeholder="Please enter Password" required>
                    <div class="remforgt-ctnr">
                        <div class="rememember">
                            <input type="checkbox" id="remememberMe" name="remememberMe" required>
                            <label for="remememberMe">Remember this account</label>
                        </div>
                    </div>

                    <button type="submit">Sign Up</button>
                </form>

                <div class="footer d-flex justify-content-center">
                    @2024 Baron Meddy Inc.
                </div>
            </div>
            <div class="col"></div>
        </div>

    </div>

    <script src="#"></script>
</body>

</html>